/*
This is just a note

font-family: 'Noto Sans KR', sans-serif;
*/

.harsha{
	font-family: 'Noto Sans KR', sans-serif;
}

table,th,tr{
	border:1px solid black;
	background-color:teal;
}
body{
	background-image: url("bot.jpg");
	
}