/*universal selector like * */

*{color: red}

/* getting more specific - using the element
*/

/*type selectors like p and a */

p{
	color:green
}

a{
	text-decoration: none;
}

/*<a> is a child of li*/

li>a{
	text-shadow:2px 2px black;
}

/* this only defines the class of orange for h1*/

h1.orange{
	color:orange;
}

.sml{
	height:150px;
	width:150px;
}

.med{
	height:300px;
	width:300px;
}

background-image:
	